/zig-cache/
/zig-out/
/graphics/src/backend/vk/shaders/*.spv
/lib/zig
/lib/libtess2
/lib/clyon/target/
/lib/clyon/Cargo.lock
/lib/zig-v8
/lib/tracy
/lib/macos.libc
/lib/wasm-js/gen-index.html
/lib/libc_v8*.a
/lib/c_v8*.lib
/lib/extras
/deps
/ignored/
/notes.md
/todo.md
/vms
/workspace.code-workspace
/docs-out
/runtime/snapshots/gen_api.js
/scratch.js
