/zig-cache/
/zig-out/
/lib/zig
/lib/libtess2
/lib/clyon/target/
/lib/clyon/Cargo.lock
/lib/zig-v8
/lib/macos.libc
/deps
/notes.md
/todo.md
/vms
/workspace.code-workspace
/docs-out
/cosmic/snapshots/gen_api.js
/scratch.js
